In [ ]:
a = [[1,1], [2,1]]
a

[[1, 1], [2, 1]]

In [ ]:
!pip install pandas-datareader
!pip install yfinance
!pip install fix_yahoo_finance
!pip install numpy
!pip install pandas
!pip install matplotlib
!pip install seaborn

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import yfinance as yf
yf.pdr_override()
import sklearn.metrics as met
from sklearn import svm

In [ ]:
data = yf.download('aapl', interval='1D', period='MAX')

[*********************100%***********************]  1 of 1 completed

In [ ]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099874,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094663,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087715,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089886,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092492,73449600
...,...,...,...,...,...,...
2022-12-13,149.500000,149.970001,144.240005,145.470001,145.470001,93886200
2022-12-14,145.350006,146.660004,141.160004,143.210007,143.210007,82291200
2022-12-15,141.110001,141.800003,136.029999,136.500000,136.500000,98931900
2022-12-16,136.690002,137.649994,133.729996,134.509995,134.509995,160080100
2022-12-19,135.110001,135.179993,131.320007,132.369995,132.369995,79018871

In [ ]:
y = pd.DataFrame(data['Adj Close'])

In [ ]:
x = pd.DataFrame(data['High'])

In [ ]:
x.shape

(10595, 1)

In [ ]:
y.shape

(10595, 1)